.content {
    padding-bottom: 15px;
}

.card-body {
    padding: 0;
}

.card {
    border: none;
}

.mt15 {
    margin-top: 15px;
}

@media (max-width:415px) {
    .activityPic>img {
        height: 200px;
    }
}